{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | FreelaJá</title>

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

</head>

<body>

    <div class="container">

        <div class="left">
            <a href="{% url 'login' %}" class="back-login">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18l-6-6 6-6" stroke="currentColor" stroke-width="2" />
                </svg>
                Voltar para tela de login
            </a>
            <h1>FreelaJá</h1>

            <p>
                Encontre oportunidades, conecte-se com empresas
                e trabalhe nos melhores eventos da sua região.
            </p>
        </div>

        <div class="right">

            <div class="tabs">
                <button class="tab-btn active" onclick="mostrarFormulario('freelancer')">Freelancer</button>
                <button class="tab-btn" onclick="mostrarFormulario('empresa')"> Empresa </button>

            </div>

            <!-- FORM FREELANCER -->

            <div id="freelancer" class="form-section active">

                <form method="POST" id="freelancerForm">
                    {% csrf_token %}

                    <input type="hidden" name="tipo" value="freelancer">

                    <!-- STEP 1 -->
                    <div class="step active">
                        <h2>Conta</h2>

                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="email">
                        </div>

                        <div class="input-group">
                            <label>Senha</label>
                            <input type="text" name="senha">
                            <span class="toggle-password" onclick="togglePassword()">
                            </span>
                        </div>
                        <div class="input-group">
                            <label>Confirmar Senha</label>
                            <input type="password" name="confirmar_senha">
                        </div>
                        <div class="buttons">
                            <button type="button" class="next-btn">Próximo</button>
                        </div>

                    </div>

                    <!-- STEP 2 -->
                    <div class="step">

                        <h2>Informações pessoais</h2>

                        <div class="input-group">
                            <label>Nome Completo</label>
                            <input type="text" name="nomeCompleto">
                        </div>

                        <div class="input-group">
                            <label>CPF</label>
                            <input type="text" name="cpf">
                        </div>

                        <div class="buttons">
                            <button type="button" class="back-btn">Voltar</button>
                            <button type="button" class="next-btn">Próximo</button>
                        </div>

                    </div>

                    <!-- STEP 3 -->
                    <div class="step">

                        <h2>Profissional</h2>

                        <div class="input-group">
                            <label>Área de atuação</label>
                            <select name="area_atuacao">
                                <option value="garcom">Garçom</option>
                                <option value="seguranca">Segurança</option>
                                <option value="barman">Barman</option>
                                <option value="fotografo">Fotógrafo</option>
                                <option value="outro">Outro</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label>Experiência</label>
                            <textarea name="experiencia"></textarea>
                        </div>

                        <div class="buttons">
                            <button type="button" class="back-btn">Voltar</button>
                            <button class="btn" type="submit">Finalizar Cadastro</button>
                        </div>

                    </div>

                    <!-- PROGRESS -->
                    <div class="progress">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                </form>

            </div>
            <!-- FORM EMPRESA -->

              <div id="empresa" class="form-section">

                <form method="POST" id="empresaForm">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="empresa">

                    <!-- STEP 1 -->
                    <div class="step active">

                        <h2>Dados da empresa</h2>

                        <div class="input-group">
                            <label>Nome Fantasia</label>
                            <input type="text" name="nomeFantasia">
                        </div>

                        <div class="input-group">
                            <label>CNPJ</label>
                            <input type="text" name="cnpj">
                        </div>

                        <div class="buttons">
                            <button type="button" class="next-btn">Próximo</button>
                        </div>

                    </div>

                    <!-- STEP 2 -->
                    <div class="step">

                        <h2>Conta</h2>

                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="email">
                        </div>

                        <div class="input-group">
                            <label>Senha</label>
                            <input type="password" name="senha">
                        </div>

                        <div class="buttons">
                            <button type="button" class="back-btn">Voltar</button>
                            <button type="button" class="next-btn">Próximo</button>
                        </div>

                    </div>

                    <!-- STEP 3 -->
                    <div class="step">

                        <h2>Informações adicionais</h2>

                        <div class="input-group">
                            <label>Telefone</label>
                            <input type="text" name="telefone">
                        </div>

                        <div class="input-group">
                            <label>Site</label>
                            <input type="url" name="site">
                        </div>

                        <div class="input-group">
                            <label>Descrição</label>
                            <textarea name="descricao"></textarea>
                        </div>

                        <div class="buttons">
                            <button type="button" class="back-btn">Voltar</button>
                            <button class="btn" type="submit">Finalizar Cadastro</button>
                        </div>

                    </div>

                    <!-- PROGRESS -->
                    <div class="progress">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <script src="{% static 'js/cadastro.js' %}"></script>
</body>

</html>