{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | FreelaJá</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="container">

        <!-- ESQUERDA -->

        <div class="left">

            <a href="{% url 'login' %}" class="back-login">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18l-6-6 6-6" stroke="currentColor" stroke-width="2" />
                </svg>

                Voltar para login
            </a>

            <h1>FreelaJá</h1>

            <p>
                Encontre oportunidades, conecte-se com empresas
                e trabalhe nos melhores eventos da sua região.
            </p>

        </div>

        <!-- DIREITA -->

        <div class="right">

            <div class="tabs">

                <button class="tab-btn active" onclick="mostrarFormulario('freelancer')"> Freelancer</button>
                <button class="tab-btn" onclick="mostrarFormulario('empresa')">Empresa</button>

            </div>

            <!-- FREELANCER -->

            <div id="freelancer" class="form-section active">

                <form method="POST" id="freelancerForm" novalidate>

                    {% csrf_token %}

                    <input type="hidden" name="tipo" value="freelancer">
                    {% if freelancer_form.errors %}
                    <div class="errors">
                        {% for field in freelancer_form %}
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- STEP 1 - DADOS PESSOAIS + CONTA -->

                    <div class="step active">

                        <h2>Dados e Conta</h2>

                        <div class="input-group">

                            <label>Nome Completo</label>
                            {{ freelancer_form.nomeCompleto }}

                        </div>

                        <div class="input-group">

                            <label>CPF</label>
                            {{ freelancer_form.cpf }}

                        </div>
                        <small id="cpf-feedback" style="display:none;"></small>

                        <div class="input-group">

                            <label>Data de Nascimento</label>
                            {{ freelancer_form.dataNascimento }}

                        </div>

                        <div class="input-group">

                            <label>Celular</label>
                            {{ freelancer_form.celular }}

                        </div>
                        <small id="celular-feedback" style="display:none;"></small>

                        <div class="input-group">
                            <label>Email</label>
                            {{ freelancer_form.email }}
                        </div>
                        <small id="email-feedback-freelancer"></small>

                        <div class="input-group">

                            <label>Senha</label>

                            <div class="password-box">

                                {{ freelancer_form.password }}

                                <span class="toggle-password"onclick="togglePassword('id_password_freelancer', 'icon_freelancer')">
                                    <i id="icon_freelancer" class="fa-solid fa-eye"></i>
                                </span>

                            </div>

                        </div>

                        <div class="input-group">

                            <label>Confirmar Senha</label>

                            <div class="password-box">

                                {{ freelancer_form.confirmar_senha }}

                                <span class="toggle-password" onclick="togglePassword('id_confirmar_senha_freelancer','icon_confirm_freelancer')">
                                    <i id="icon_confirm_freelancer" class="fa-solid fa-eye"></i>
                                </span>

                            </div>

                        </div>
                        <small id="confirmar-feedback_freelancer"></small>

                        <div class="buttons">

                            <button type="button" class="next-btn">Próximo</button>

                        </div>

                    </div>

                    <!-- STEP 2 - PROFISSIONAL (INTERESSES + SOBRE MIM OPCIONAL) -->

                    <div id="step-interesses" class="step">

                        <h2>Profissional</h2>

                        <div class="input-group">

                            <label>Interesses</label>

                            <p class="hint">Escolha entre 3 e 5 interesses</p>

                            <div class="badges-container">

                                {% for checkbox in freelancer_form.interesses %}

                                <label class="badge-option">
                                    {{ checkbox.tag }}
                                    <span>{{checkbox.choice_label }}</span>
                                </label>

                                {% endfor %}

                            </div>
                            <small id="interesses-feedback"></small>
                        </div>

                        <div class="input-group">

                            <label>Sobre mim <span class="optional">(opcional)</span></label>
                            {{ freelancer_form.experiencia }}
                            <small id="experiencia-feedback"></small>

                        </div>

                        <div class="buttons">

                            <button type="button" class="back-btn">Voltar</button>
                            <button class="btn" type="submit">Finalizar Cadastro</button>

                        </div>

                    </div>

                    <div class="progress">

                        <span class="dot active"></span>
                        <span class="dot"></span>

                    </div>

                </form>

            </div>

            <!-- EMPRESA -->

            <div id="empresa" class="form-section">

                <form method="POST" id="empresaForm" novalidate>

                    {% csrf_token %}

                    <input type="hidden" name="tipo" value="empresa">
                    {% if empresa_form.errors %}
                    <div class="errors">
                        {% for field in empresa_form %}
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- STEP 1 - DADOS DA EMPRESA + CONTA -->

                    <div class="step active">

                        <h2>Dados e Conta</h2>

                        <div class="input-group">

                            <label>Nome Fantasia</label>
                            {{ empresa_form.nomeFantasia }}

                        </div>

                        <div class="input-group">

                            <label>CNPJ</label>
                            {{ empresa_form.cnpj }}

                        </div>
                        <small id="cnpj-feedback" style="display:none;"></small>

                        <div class="input-group">

                            <label>Email</label>
                            {{ empresa_form.email }}

                        </div>
                        <small id="email-feedback-empresa"></small>
                        <div class="input-group">

                            <label>Senha</label>

                            <div class="password-box">

                                {{ empresa_form.password }}

                                <span class="toggle-password"onclick="togglePassword('id_password_empresa', 'icon_empresa')">
                                    <i id="icon_empresa" class="fa-solid fa-eye"></i>
                                </span>

                            </div>

                        </div>

                        <div class="input-group">

                            <label>Confirmar Senha</label>

                            <div class="password-box">

                                {{ empresa_form.confirmar_senha }}

                                <span class="toggle-password"onclick="togglePassword('id_confirmar_senha_empresa', 'icon_confirm_empresa')">
                                    <i id="icon_confirm_empresa" class="fa-solid fa-eye"></i>
                                </span>

                            </div>

                        </div>
                        <small id="confirmar-feedback_empresa"></small>

                        <div class="buttons">

                            <button type="button" class="next-btn">Próximo</button>

                        </div>

                    </div>

                    <!-- STEP 2 - INFORMAÇÕES ADICIONAIS -->

                    <div id="step-sobre-empresa" class="step">

                        <h2>Informações Adicionais</h2>

                        <div class="input-group">

                            <label>Site</label>
                            {{ empresa_form.site }}

                        </div>

                        <div class="input-group">

                            <label>Descrição</label>
                            {{ empresa_form.descricao }}
                            <small id="descricao-feedback"></small>

                        </div>

                        <div class="buttons">

                            <button type="button" class="back-btn"> Voltar</button>
                            <button class="btn" type="submit">Finalizar Cadastro</button>

                        </div>

                    </div>

                    <div class="progress">

                        <span class="dot active"></span>
                        <span class="dot"></span>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/cadastro.js' %}"></script>

</body>

</html>
