{% extends 'baseEmpresa.html' %}
{% load static %}

{% block title %}
Criar vaga
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/criarEditarVaga.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/criarVaga.js' %}"></script>
{% endblock %}

{% block content %}

<div class="create-container">

    <div class="create-card">
        <a href="{% url 'homeEmpresa' %}" class="carousel-arrow" onclick="return confirmarVolta(event, this.href)"> ❮ </a>

        <h1 class=" title">

            {% if editar %}

            Editar vaga

            {% else %}

            Criar nova vaga

            {% endif %}

        </h1>
        <p> Preencha as informações do evento </p>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- TOPO -->

            <div class="top-row">

                <!-- IMAGEM -->

                <div class="form-group image-group">

                    <label> Imagem do evento</label>

                    <div class="preview-box">
                        {% if editar and vaga.imagem %}
                        <img id="preview-image" src="{{ vaga.imagem.url }}" alt="Preview">
                        {% else %}
                        <img id="preview-image" src="https://placehold.co/300x220?text=Imagem" alt="Preview">
                        {% endif %}
                    </div>
                    {{ form.imagem }}

                </div>

                <!-- DIREITA -->

                <div class="right-side">

                    <div class="form-group title-group">

                        <label> Título da vaga </label>
                        {{ form.titulo }}

                    </div>

                    <div class="form-group">

                        <label> Descrição</label>
                        {{ form.descricao }}

                    </div>
                </div>
            </div>

            <!-- RESTANTE -->

            <div class="form-grid">

                <div class="form-group">

                    <label>Quantidade de vagas</label>
                    {{ form.quantidadeVagas }}

                </div>

                <div class="form-group">

                    <label> Remuneração </label>
                    {{ form.remuneracao }}

                </div>

                <div class="form-group">

                    <label>Data do evento</label>
                    {{ form.dataEvento }}

                </div>

                <div class="form-group">

                    <label>Horário início</label>
                    {{ form.horarioInicio }}

                </div>

                <div class="form-group">

                    <label> Horário fim</label>
                    {{ form.horarioFim }}

                </div>

                <div class="form-group">

                    <label> Status </label>
                    {{ form.status }}

                </div>
            </div>
            <div class="form-details">

                <div class="form-group">

                    <label>Endereço</label>
                    {{ form.endereco }}

                </div>
                <div class="form-group titulo">

                    <label> Categoria </label>
                    {{ form.categoria }}
                </div>

                <div class="form-group titulo">

                    <label>Detalhes da vaga</label>

                    <div class="badges-container">

                        {% for checkbox in form.detalhes %}

                        <label class="badge-option">
                            {{ checkbox.tag }}
                            <span>{{ checkbox.choice_label }}</span>
                        </label>

                        {% endfor %}

                    </div>
                    <div id="custom-badges" class="badges-container">
                   </div>

                    <small id="detalhes-feedback"></small>

                </div>
                <div class="form-group titulo">

                    <label>Outros detalhes</label>
                    {{ form.detalhes_custom }}

                    <div class="custom-detail-input">
                        <input id="novo-detalhe-input" type="text" class="form-input" placeholder="Escreva um detalhe e clique em 'Adicionar'">
                        <button type="button" id="adicionar-detalhe" class="btn-small">Adicionar</button>
                    </div>

                    <small class="help-text">Você pode cadastrar até 3 detalhes personalizados. Máximo de 3 detalhes no
                        total (incluindo opções pré-definidas).</small>

                </div>
            </div>
            {% if form.non_field_errors %}

            <div class="alert-error">

                {% for erro in form.non_field_errors %}

                <p>{{ erro }}</p>

                {% endfor %}

            </div>

            {% endif %}
            <button type="submit" class="btn-save">

                {% if editar %}

                Salvar alterações

                {% else %}

                Criar vaga

                {% endif %}

            </button>
        </form>
    </div>
</div>

{% endblock %}