{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">

    <title>Acesso negado</title>

    <link rel="stylesheet"
          href="{% static 'css/errors.css' %}">

</head>
<body>

<div class="error-container">

    <div class="error-logo">Freela<span>Já</span></div>

    <h1 class="error-code">
        403
    </h1>

    <h2 class="error-title">
        Acesso negado
    </h2>

    <p class="error-text">

        Você não possui permissão para acessar
        esta página.

    </p>

    <a href="javascript:history.back()"
       class="error-btn">

        Voltar

    </a>

</div>

</body>
</html>