{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {%block css%}{% endblock %}

</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            let icon = "{{ message.tags }}";

            if (icon === "error") {
                icon = "error";
            } else if (icon === "warning") {
                icon = "warning";
            } else {
                icon = "success";
            }

            Swal.fire({
                icon: icon,
                title: '{{ message.tags|title }}',
                text: '{{ message|escapejs }}',
                timer: 2500,
                showConfirmButton: false
            });
        });
    </script>
    {% endfor %}
    {% endif %}
    <header>

        <div class="navbar navbar-empresa">

            <div class="logo"><a href="{% url 'homeEmpresa' %}">Freelajá</a></div> <!-- Logo  colocar foto?-->

            <div class="nav-links">

                <a href="{% url 'homeEmpresa' %}">Suas Vagas</a>
                <a href="{% url 'criarVaga' %}">Criar Vagas</a>

                <!-- MENU PERFIL -->

                <div class="profile-menu">

                    <div class="profile-btn btn-empresa">
                        {% if request.user.empresa.foto %}
                        <img src="{{ request.user.empresa.foto.url }}" class="avatar"
                            alt="{{ request.user.empresa.nomeFantasia }}">
                        {% else %}
                        <div class="avatar-placeholder">{{ request.user.empresa.nomeFantasia|first }} </div>
                        {% endif %}
                        <span>Meu Perfil</span>
                        {% if notificacoes_nao_lidas > 0 %}
                        <span class="notification-dot"></span>
                        {% endif %}
                    </div>

                    <div class="dropdown">
                        <a href=" {% url 'meuPerfilEmpresa' %}"> Perfil</a>
                        <a href="{% url 'notificacoes' %}">
                            Notificações

                            {% if notificacoes_nao_lidas %}
                            <span class="badge">
                                {{ notificacoes_nao_lidas }}
                            </span>
                            {% endif %}
                        <a href="{% url 'logout' %}" style="color:#ef4444;"> Sair do sistema
                        </a>
                    </div>

                </div>

            </div>

        </div>

        {%block content %}
        {% endblock %}

        </section>

        {%block footer %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {% block scripts %}
        {% endblock %}

</body>

</html>