{% extends 'baseEmpresa.html' %}
{% load static %}

{% block title %}FreelaJá {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homeEmpresa.css' %}">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'js/homeEmpresa.js' %}"></script>
{% endblock %}


{% block content %}
<div class="dashboard">

  <!-- HEADER ----------------------------------------------------------------------------------------->
  <div class="dashboard-header">

    <div>
      <h1>Minhas Vagas</h1>
      <p>Gerencie todas as vagas criadas pela sua empresa</p>
    </div>

    <a href="{% url 'criarVaga' %}" class=" job-btn btn-create">+ Criar Vaga</a>

  </div>

  <div class="filter-tabs">
    <button class="filter-btn active" onclick="mostrarFormulario('abertos', this)">Abertas  {{ total_abertos }}</button>
    <button class="filter-btn" onclick="mostrarFormulario('fechados', this)">Fechadas   {{ total_fechados }}</button>
    <button class="filter-btn" onclick="mostrarFormulario('finalizadas', this)">Finalizadas   {{ total_finalizadas }}</button>
    <button class="filter-btn" onclick="mostrarFormulario('cancelados', this)">Canceladas   {{ total_cancelados }}</button>

  </div>

  <!------------------------------------------ ABERTOS ---------------------------------------------------------------------------------->
  <div class="jobs-grid tab-content jobs-carousel active" id="abertos">

    {% for vaga in abertos %} <!-- Loop para exibir cada vaga criada pela empresa -->

    <div class="job-card">

      <!-- IMAGEM -->
      <img
        src="{% if vaga.imagem %}{{ vaga.imagem.url }}{% else %}https://images.unsplash.com/photo-1522202176988-66273c2fd55f{% endif %}"
        class="job-image">

      <div class="job-content">

        <!-- TAG -->
        <div class="job-top">
          <span class="tag">
            {{ vaga.categoria|default:"Geral" }}
          </span>
        </div>

        <!-- TITULO -->
        <h3>{{ vaga.titulo }}</h3>

        <!-- INFO EXTRAS -->
        <p class="job-info"> {{ vaga.dataEvento }} • {{ vaga.horarioInicio }} - {{ vaga.horarioFim }} </p>

        <!-- RODAPÉ -->
        <div class="job-footer">

          <span class="price">
            R$ {{ vaga.remuneracao }}
          </span>
          <span>
            Vagas restantes: {{ vaga.vagasRestantes}}
          </span>

        </div>

        <div class="job-actions">

          <a href="{% url 'editarVaga' vaga.id %}" class="job-btn view-btn">Editar</a>
          <a href="{% url 'excluirVaga' vaga.id %}" class="job-btn cancel-btn"
            onclick="return confirmarExclusao(event, this.href)"> Excluir</a>
          <a href="{% url 'candidatosVaga' vaga.id %}" class="job-btn candidates-btn"> Candidatos</a>

        </div>
        <div class="job-actions-finalize">

          <a href="{% url 'finalizarVaga' vaga.id %}" class="job-btn finalize-btn" onclick="return confirmarFinalizacao(event, this.href)""> Finalizar Vaga</a>

        </div>
      </div>
    </div>

    {% empty %}

    <div class="empty-message"> Nenhuma vaga aberta.</div>

    {% endfor %}

  </div>
  <!------------------------------------------ FECHADOS ---------------------------------------------------------------------------------->

  <div class="jobs-grid tab-content jobs-carousel" id="fechados">

    {% for vaga in fechados %} <!-- Loop para exibir cada vaga criada pela empresa -->

    <div class="job-card">

      <!-- IMAGEM (fallback se não existir) -->
      <img
        src="{% if vaga.imagem %}{{ vaga.imagem.url }}{% else %}https://images.unsplash.com/photo-1522202176988-66273c2fd55f{% endif %}"
        class="job-image">

      <div class="job-content">

        <!-- TAG -->
        <div class="job-top">
          <span class="tag">
            {{ vaga.categoria|default:"Geral" }}
          </span>
        </div>

        <!-- TITULO -->
        <h3>{{ vaga.titulo }}</h3>

        <!-- INFO EXTRAS -->
        <p class="job-info">  {{ vaga.dataEvento }} • {{ vaga.horarioInicio }} - {{ vaga.horarioFim }} </p>

        <!-- RODAPÉ -->
        <div class="job-footer">

          <span class="price">
            R$ {{ vaga.remuneracao }}
          </span>
          
        </div>

        <div class="job-actions">

          <a href="{% url 'editarVaga' vaga.id %}" class="job-btn view-btn">Editar</a>
          <a href="{% url 'excluirVaga' vaga.id %}" class="job-btn cancel-btn"
            onclick="return confirmarExclusao(event, this.href)"> Excluir</a>
          <a href="{% url 'candidatosVaga' vaga.id %}" class="job-btn candidates-btn"> Candidatos</a>

        </div>
        <div class="job-actions-finalize">

          <a href="{% url 'finalizarVaga' vaga.id %}" class="job-btn finalize-btn" onclick="return confirmarFinalizacao(event, this.href)"> Finalizar Vaga</a>

        </div>
      </div>
    </div>

    {% empty %}

    <div class="empty-message"> Nenhuma vaga fechada</div>

    {% endfor %}

  </div>

  <!------------------------------------------ FINALIZADOS ---------------------------------------------------------------------------------->

  <div class="jobs-grid tab-content jobs-carousel" id="finalizadas">

    {% for vaga in finalizadas %} <!-- Loop para exibir cada vaga criada pela empresa -->

    <div class="job-card">

      <!-- IMAGEM (fallback se não existir) -->
      <img
        src="{% if vaga.imagem %}{{ vaga.imagem.url }}{% else %}https://images.unsplash.com/photo-1522202176988-66273c2fd55f{% endif %}"
        class="job-image">

      <div class="job-content">

        <!-- TAG -->
        <div class="job-top">
          <span class="tag">
            {{ vaga.categoria|default:"Geral" }}
          </span>
        </div>

        <!-- TITULO -->
        <h3>{{ vaga.titulo }}</h3>

        <!-- INFO EXTRAS -->
        <p class="job-info"> {{ vaga.dataEvento }} • {{ vaga.horarioInicio }} - {{ vaga.horarioFim }} </p>

        <!-- RODAPÉ -->
        <div class="job-footer">

          <span class="price">
            R$ {{ vaga.remuneracao }}
          </span>

        </div>

        <div class="job-actions-finalize">

          <a href="{% url 'verVaga' vaga.id %}" class="job-btn view-btn">Ver vaga</a>
          <a href="{% url 'candidatosVaga' vaga.id %}" class="job-btn candidates-btn"> Avaliar Candidatos</a>

        </div>
      </div>
    </div>

    {% empty %}

    <div class="empty-message"> Nenhuma vaga finalizada</div>

    {% endfor %}

  </div>
  <!------------------------------------------ CANCELADOS ---------------------------------------------------------------------------------->

  <div class="jobs-grid tab-content jobs-carousel" id="cancelados">

    {% for vaga in cancelados %} <!-- Loop para exibir cada vaga criada pela empresa -->

    <div class="job-card">

      <!-- IMAGEM (fallback se não existir) -->
      <img
        src="{% if vaga.imagem %}{{ vaga.imagem.url }}{% else %}https://images.unsplash.com/photo-1522202176988-66273c2fd55f{% endif %}"
        class="job-image">

      <div class="job-content">

        <!-- TAG -->
        <div class="job-top">
          <span class="tag">
            {{ vaga.categoria|default:"Geral" }}
          </span>
        </div>

        <!-- TITULO -->
        <h3>{{ vaga.titulo }}</h3>

        <!-- INFO EXTRAS -->
        <p class="job-info"> {{ vaga.dataEvento }} • {{ vaga.horarioInicio }} - {{ vaga.horarioFim }} </p>

        <!-- RODAPÉ -->
        <div class="job-footer">

          <span class="price">
            R$ {{ vaga.remuneracao }}
          </span>

        </div>

        <div class="job-actions">

          <p> Vaga cancelada</p>

        </div>
      </div>
    </div>

    {% empty %}

    <div class="empty-message"> Nenhuma vaga cancelada</div>

    {% endfor %}

  </div>
</div>

{% endblock %}