{% extends 'baseFreelancer.html' %}
{% load static %}
{% block title %}FreelaJá {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homeFreelancer.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'js/homeFreelancer.js' %}"></script>
{% endblock %}

{% block content %}
<!-- HERO -------------------------------------------------------------------------------------------->

<div class="hero">

<h1>
    Encontre <span class="highlight" style="color:#ea580c;">vagas</span><br>
    ideais para seu horário
  </h1>

  <p>Pesquise trabalhos por tipo, dia da semana e horário disponível.</p>

  <!-- PESQUISA -------------------------------------------------------------------------------------------->
<!-- 
  <div class="search-box">

    <input type="text" placeholder="Pesquisar vagas...">

    <select>
      <option>Categoria</option>
      <option>Programação</option>
      <option>Design</option>
      <option>Marketing</option>
      <option>Vídeo</option>
    </select>

    

    <button>Buscar</button>

  </div> -->
<form method="GET" action="{% url 'listarVagas' %}" class="search-box">

    <input
        type="text"
        name="q"
        value="{{ query }}"
        placeholder="Pesquisar vagas..."
    >

    <select name="categoria">
        <option value="">Todas as categorias</option>

        {% for valor, nome in categorias %}
            <option value="{{ valor }}" {% if categoria_selecionada == valor %}selected{% endif %}>
                {{ nome }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Buscar</button>

</form>

</div>

</header>

<!-- VAGAS -------------------------------------------------------------------------------------------->

<section class="jobs-section">

  <div class="section-header">

    <h2>Algumas Vagas Disponíveis</h2>

  </div>
  {% if vagas %}
  <!-- CARROSSEL ---------------------------------------------------------------------------------------------->
  <div class="carousel-wrapper">

    <!-- SETA ESQUERDA -->

    <button id="carousel-arrows" class="carousel-arrow left" onclick="scrollLeftJobs()">
      ❮
    </button>

    <!-- CARROSSEL -->

    <div class="jobs-carousel">

      <!-- CARD -->
      <div class="jobs-grid jobs-carousel" id="jobsCarousel">

        {% for vaga in vagas %} <!-- Loop para exibir cada vaga criada pela empresa -->

        <div class="job-card">

          <!-- IMAGEM (fallback se não existir) -->
          <img
            src="{% if vaga.imagem %}{{ vaga.imagem.url }}{% else %}https://images.unsplash.com/photo-1522202176988-66273c2fd55f{% endif %}"
            class="job-image">

          <div class="job-content">

            <!-- TAG -->
            <div class="job-top">
              <span class="tag">
                {{ vaga.categoria|default:"Geral" }}
              </span>
            </div>

            <!-- TITULO -->
            <h3>{{ vaga.titulo }}</h3>

            <p class="job-desc">
              {{ vaga.descricao|truncatechars:120 }}
            </p>

            <!-- INFO EXTRAS -->
            <p class="job-info">
              {{ vaga.dataEvento }} • {{ vaga.horarioInicio }} - {{ vaga.horarioFim }}
            </p>

            <!-- RODAPÉ -->
            <div class="job-footer">

              <span class="price">
                R$ {{ vaga.remuneracao }}
              </span>

            </div>

            <div class="job-actions">

              <a href="{% url 'verVaga' vaga.id %}" class="job-btn details-btn">Ver detalhes</a>

              {% if vaga.jaCandidatou %}
              <button class=" job-btn details-btn " disabled> Já se candidatou</button>

              {% else %}
              <a href="{% url 'candidatarVaga' vaga.id %}" class="job-btn apply-btn">Candidatar-se</a>

              {% endif %}

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- SETA DIREITA -->
    <button id="carousel-arrows" class="carousel-arrow right" onclick="scrollRightJobs()">
      ❯
    </button>
    {% else %}

    <p>Nenhuma vaga disponível no momento.</p>

    {% endif %}

  </div>

  {% endblock %}

  <!-- RODAPÉ ---------------------------------------------------------------------------------------->
  {% block rodape %}
  <footer>
    © 2026 FreelaJá — Plataforma Freelancer
  </footer>
  {% endblock %}